<%= render "shared/jumbotron", header: "SariSari", tag_line:"OneStop Shop", alignment: "text-center" %> 

<div class="row text-center">
        <div class="col-lg-4">
            <%= render "shared/card", img_src: "", card_title: "Order Now", card_text:"Click below to order ", linked: "/orders/new", go_here: "Order" %>
        </div>

        <div class="col-lg-4">
            <%= render "shared/card", img_src: "", card_title: "Register Here", card_text: "Register now so you can order", linked:"/users/new", go_here: "Register" %>    
        </div>
</div>
